:root{
  --dark:#19283f;
  --green:#33d1cc;
  --bright:white; 
  --redd:red;
  --blackk:black;


}

.container{
width: 100%;
max-width: 87%;
margin: 0 auto;
}

body {
font-family: "Roboto",sans-serif;
height:10000px ;
}


  /*start navbar .navbar    .navbar-nav{*/
.navbar img{
  width: 30%;
  text-align: center;
  
}
.nanbar .navbar-nav 
{color:red;

} 

.navbar{
  background-color:var(--bright);
}



.navbar .navbar-nav .nav-link
{
  color :black;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus, 
.navbar .navbar-nav .nav-link:hover
{
color:red;
}

.navbar .search{ 
  border-left: 1px solid var(--bright);
}
.navbar .search svg {
  color: var(--blackk);
}
.navbar .navbar-toggler{
  color: #ffff;
  font-size: 25px;
  border-color:#ffff ;
}
.navbar .social.svg
{
color :var(--dark);

}
/*end navbar */
.slider {
  position: relative;
  
}

.slider img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.text-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  width: 80%;
}

.grow h1{
  text-align: center;
}

.grow .rows{
  display: inline-block;
  padding: 10px;
  width: auto;
  margin: 30 ;

}
.grow p{
text-align: left;
padding-left: 15;
}
.servicess h1
{
  text-align: center;
}
.servicess h2
,p
{
  text-align: center;
}
.servicess .rows{
 
  display: inline-block;
  padding: 10px;
  width: auto;
  margin: 30 ;
}
.our-new h1{
  text-align: center;

}
.textt-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  background-color: rgba(248, 248, 248, 0.7);
  padding: 10px 20px;
  width: 80%;
}
.hiii{
font-size: small;
font-family: auto;

}
.row p{
position:relative;
display: inline-block;
border: #33d1cc;
}
.ooo p , span
{
padding: 5px;
margin: 10px;


} 
.pop
{

background-color:aliceblue;
padding: 5px;
margin: 10px;
}
.qq img
{
width: 5%;
}
.qq p{
width: 5px;
text-align: center;
}